@CHARSET "UTF-8";

body {
    background: #fff;
    line-height: 14px;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin: 0pt;
    cursor: default;
	}
	
.listing_table{
	font-size:16px;
	
	}

html, body {
    height: 100%;
    text-align: center;
}

a {
    text-decoration: none;
	
}

strong {
    font-weight: 700;
}

h1 {
       border-bottom: 3px double #000099;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 1em;
	text-align:center
}
h2 {
    border-bottom: 5px double #f00;
    color: #009;
    font-size: 40px;
    font-weight:normal;
    line-height: 1.2em;
    margin: auto auto 20px;
    width: 900px;
}
#productDetail 
{
    width: 20px;
padding: 0 10px 10px;
}

#outer_wrapper{
	width:1000px;
	margin:auto;
	}

#container {
    width: 600px;
    margin: 20px auto;
    text-align: left;
	box-shadow: 5px 8px 15px 0px #878787;
	border-radius: 5px 5px 5px 5px;
	background-image:url(images/bground.png);
}

#container_results {
    width: 600px;
    margin: 20px auto;
    text-align: left;
	box-shadow: 5px 8px 15px 0px #878787;
	border-radius: 5px 5px 5px 5px;
	background-image:url(/images/bground.png);
	display:none;
}

#inner_container{
  margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 1px;
    width: 580px;
	}

#productDetail label {
    display: block;
    color: #797979;
    font-weight: 700;
    line-height: 1.4em;
}

#productDetail input {
    width: 220px;
    padding: 6px;
    color: #949494;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid #cecece;
}

#productDetail input.error {
    background: #f8dbdb;
    border-color: #e77776;
}

#productDetail textarea {
    width: 550px;
    height: 80px;
    padding: 6px;
    color: #949494;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    border: 1px solid #cecece;
}

#productDetail div {
    margin-bottom: 15px;
}

#productDetail div span {
    margin-left: 10px;
    color: green;
    font-size: 11px;
    font-style: italic;
}

#productDetail div 
{
    margin-right: 0px;
    color:black;
    font-size: 11px;
    font-style: normal;
}

#productDetail #add {
    background: #6f9ff1;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    border: 1px solid black;
    cursor: pointer;
}

#productDetail #add:hover {
    background: #008b8b;
}


 
#container table.listing_table tr td
{
    width: 10px;
}
tr.heading{
font-size:16px;
text-align:center
}

td{
	border-bottom: 1px dashed #6b9ef1;
	font-size:14px;
	text-align:center
	}
.txt_box{	
	
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}