<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="css/damasco-style.css"  type="text/css"/>

<title>my first bootstrap</title>
</head>

<body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
   <script src="js/bootstrap.js"></script>
   
   <div class="container">
   <h1>Damasco Racking and Stock Control</h1>
   <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="active"><a href="?action">Search</a></li>
                    <li><a href="?action=page1">Products</a></li>
                    <li><a href="<?php ?> ">Racking</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>